<h3><b>Profil</b></h3>
<form name="updateBeneficiaireForm">
    <div class="row">
      <div class="medium-9 columns">
        <label>Code<input type="text" name="code" ng-model="currentBeneficiaire.code" ng-required="true"/></label>
      </div>
    </div>
    <div class="row">
      <div class="medium-9 columns">
        <label>Nom<input type="text" name="lastName" ng-model="currentBeneficiaire.lastName"
                         ng-required="true"/></label>
      </div>
    </div>
    <div class="row">
      <div class="medium-9 columns">
        <label>Prénom<input type="text" name="firstName" ng-model="currentBeneficiaire.firstName"
                            ng-required="true"/></label>
      </div>
    </div>
    <div class="row">
      <div class="medium-3 columns left">
        <button id="deleteBeneficiaireDetail" ng-click="deleteBeneficiaireDetail()" class="button secondary expand">
          Supprimer
        </button>
      </div>
      <div class="medium-3 columns left">
        <button id="cancelBeneficiaireDetail" ng-click="cancelBeneficiaireDetail()" class="button secondary expand">
          Annuler
        </button>
      </div>
      <div class="medium-3 columns left">
        <button id="saveBeneficiaireDetail" ng-click="saveBeneficiaireDetail()" class="button secondary expand">
          Enregistrer
        </button>
      </div>
    </div>
    <p class="errorMessage" ng-show="currentError.isCodeNotUnique">Un bénéficiaire existe déjà avec ce code</p>

    <p class="errorMessage" ng-show="currentError.isBeneficiaireNotUnique">Le bénéficiaire existe déjà</p>
  </form>
</div>
</div>

<div id="confirmDeletePopup" class="reveal-modal" data-reveal>
  <p>Etes vous sûr de vouloir supprimer ce bénéficiaire ?</p>
  <div class="row">
    <div class="medium-6 columns left">
      <button ng-click="cancelBeneficiaireDetailDeletePopup()" class="button secondary expand">Annuler</button>
    </div>
    <div class="medium-6 columns left">
      <button id="confirmDelete" ng-click="confirmBeneficiaireDetailDeletePopup()" class="button secondary expand">Supprimer
      </button>
    </div>
  </div>
</div>

<h3><b>Commentaires</b></h3>
<form name="addCommentaireForm">
<div class="row">
  <div class="medium-6 columns left">
  <input type="text" name="newComment" ng-model="currentBeneficiaire.newComment" placeholder="-- insérer un commentaire --"
         required/>
    </div>
  <div class="medium-3 columns left">
  <button ng-click="addCommentaire()" class="button secondary expand">Ajouter un commentaire
  </button>
    </div>
</div>
</form>
<p class="errorMessage" ng-show="currentError.isCommentEmpty">Veuillez renseigner un commentaire</p>

<div ng-show="currentBeneficiaire.comments.length != 0">
  <table class="medium-9 columns">
    <tr ng-repeat="comment in currentBeneficiaire.comments track by $index">
      <td>{{comment}}</td>
    </tr>
  </table>
</div>
<div ng-show="currentBeneficiaire.comments.length == 0">
  Aucun commentaire pour ce bénéficiaire.
</div>
