<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a ng-href='#/distribution/'><img src="les-mardis-d-olivier.png"/></a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a><span>menu</span></a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li ng-class="isActive('/distribution')"><a href="#/distributions">Distributions</a></li>
      </ul>
      <ul class="left">
        <li ng-class="isActive('/beneficiaire')"><a href="#/beneficiaires">Bénéficiaires</a></li>
      </ul>
      <ul class="left">
        <li ng-class="isActive('/about')"><a href="#/about">A propos</a></li>
      </ul>
    </section>
  </nav>
</div>
