<div class="row">
  <div class="medium-12 columns">
    <div class="row">
      <div class="medium-6 columns">
        <label>
          Nom
          <input type="text" name="lastName" class="detail" ng-model="currentBenevole.lastName" placeholder="-- nom --"
                 ng-required="true"/>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>
          Prénom
          <input type="text" name="firstName" class="detail" ng-model="currentBenevole.firstName" placeholder="-- prénom --"
                 ng-required="true"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns">
        <label>Téléphone
          <input type="text" name="phoneNumber" class="detail" ng-model="currentBenevole.phoneNumber" placeholder="-- téléphone --"
                 ng-required="true"/>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Email
          <input type="email" name="email" class="detail" ng-model="currentBenevole.email" placeholder="-- email --"
                 ng-required="true"/>
        </label>
      </div>
    </div>
  </div>
</div>
