<h3><b>Profil</b></h3>
<form name="updateBenevoleForm">
  <div ng-include="'app/benevole/benevoleMandatoryField.html'"></div>
  <div class="row">
    <div class="medium-6 columns">
      <label>Adresse
        <input type="text" name="adresse" ng-model="currentBenevole.adresse" ng-required="false" ng-disabled="!edit"/>
      </label>
    </div>
    <div class="medium-3 columns left">
      <label>Année de naissance
        <input type="number" min="1900" max="2100" class="detail" ng-minlength=4 ng-maxlength=4 name="birthYear" ng-model="currentBenevole.birthYear" ng-required="false" ng-disabled="!edit"/>
      </label>
    </div>
    <div class="medium-2 columns left">
      <input type="checkbox" id="isAdmin" ng-model="currentBenevole.isAdmin" ng-disabled="!edit">
      <label for="isAdmin">Administrateur</label>
      </input>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <label>Anglais
        <select ng-model="currentBenevole.englishLevel" ng-options="level.id as level.label for level in languageLevels" ng-disabled="!edit"></select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <label>Espagnol
        <select ng-model="currentBenevole.spanishLevel" ng-options="level.id as level.label for level in languageLevels" ng-disabled="!edit"></select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <label>Allemand
        <select ng-model="currentBenevole.germanLevel" ng-options="level.id as level.label for level in languageLevels" ng-disabled="!edit"></select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-3 columns right">
      <button id="saveBenevoleDetail" ng-click="saveBenevoleDetail()" ng-disabled="updateBenevoleForm.$invalid || !edit" class="button secondary expand" >
        Enregistrer
      </button>
    </div>
    <div class="medium-3 columns right">
      <button id="cancelBenevoleDetail" ng-click="openBenevoleList()" class="button secondary expand" >
        Annuler
      </button>
    </div>
    <div class="medium-3 columns right" ng-if="edit">
      <popup-directive popup-button="deletePopupButtons" popup-label="Êtes-vous sûr de vouloir supprimer ce bénévole ?" button-label="Supprimer" ></popup-directive>
    </div>
  </div>
</form>
