<form name="addBenevoleForm" ng-submit="addBenevoleFromNoAuth()">
  <div ng-include="'app/benevole/benevoleMandatoryField.html'"></div>
  <div class="row">
    <div class="medium-6 columns">
      <label>Mot de passe
        <input name="password" class="detail" type="password" ng-model="currentBenevole.password" ng-change="confirmPassword(currentBenevole.password, currentBenevole.passwordConfirmation)" ng-required="true"/>
      </label>
    </div>
    <div class="medium-6 columns">
      <label>Confirmation Mot de passe
        <input name="passwordConfirmation" class="detail" type="password" ng-model="currentBenevole.passwordConfirmation" ng-change="confirmPassword(currentBenevole.password, currentBenevole.passwordConfirmation)" ng-required="true" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns right">
      <button class="button secondary expand" ng-disabled="addBenevoleForm.$valid === false">Ajouter</button>
    </div>
  </div>

</form>
