<div class="medium-8 column">
  <div class="row">
    <h3><b>Import des beneficiaires</b></h3>
  </div>
  <div class="row">
    <p>Copiez les données depuis excel avec Ctrl + V</p>
  </div>
  <div class="row">
    <p>Les colonnes "Nom" et "Prénom" sont obligatoires.</p>
  </div>
  <div class="row">
    <p>Si la colonne "Code" n'est pas copiée, un code sera généré.</p>
  </div>
  <div ng-show="beneficiairesToImport.length > beneficiaires.length">
    <div class="row">
      Voulez-vous importer les données suivantes ? ( <input type="checkbox" id="hasCard" ng-model="hasCard"
                                                  ng-change="validationImport(parsedPaste)"><label for="hasCard"><i
      class="ui-icon ui-icon-contact"></i>assigner cartes )</label></input>
    </div>
    <div class="row">
      <button id="exportButton" ng-click="importData()" class="button secondary">Importer</button>
    </div>
  </div>
</div>

<!-- TODO if necessary or wait for future features-->
<div class="medium-4 column" style="display:none">
  <popup-directive popup-button="deletePopupButtons"
                   popup-label="Êtes-vous sûr de vouloir supprimer toutes les données de l'application ?"
                   button-label="Supprimer les données existantes" ng-show="beneficiaires.length!=0"></popup-directive>
</div>

<div class="medium-12 column">
  <angular-paste id="parsedPaste" ng-model="rawPaste" ng-array="parsedPaste"/>
  <input type="checkbox" id="showFinalList" ng-model="showFinalList"><label for="showFinalList">Voir la liste
  finale</label></input>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th><i class="ui-icon ui-icon-tag"></i>Code (nombre)</th>
      <th>Nom</th>
      <th>Prenom</th>
      <td><i class="ui-icon ui-icon-contact"></i> Carte (true/false)</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-show="parsedPaste.length==0 && (!showFinalList || beneficiaires.length==0 && showFinalList) ">
      <td colspan="3">Aucune donnée.</td>
    </tr>
    <tr ng-class="{ added: showFinalList && ($index >= beneficiaires.length) }"
        ng-repeat="benefToImport in beneficiairesToImport track by $index"
        ng-show="showFinalList || ($index >= beneficiaires.length)">
      <td>
        {{benefToImport.code}}
      </td>
      <td>
        {{benefToImport.lastName}}
      </td>
      <td>
        {{benefToImport.firstName}}
      </td>
      <td><i ng-class="benefToImport.hasCard !== false ? 'ui-icon ui-icon-contact' : '' "></i></td>
    </tr>
  </table>
</div>
