select {
  background-color: white;
}

.top-bar {
  height: 95px;
}

.name {
  margin-top: 10px !important;
}

.table {
  width: 100%;
}

.table .button {
  margin-bottom: 0;
}

.errorMessage {
  background-color: red;
  color: white;
  padding-left: 10px;
}

#commentsToggle {
  position:relative;
  top:0px;
  left:0px;
}

#commentsDetail {
  display: none;
  top:-10px;
  padding-top: 20px;
  vertical-align: middle;
  text-align: left;
  width: 400px;
  background-color:#ccc;
  color:black;
  border-radius:5px;
  position:absolute;
}

#commentsDetail li{
  list-style-type: none;
}

#commentsToggle:hover #commentsDetail{
  display: inline-block;
}
