<!DOCTYPE html>
<html ng-app="mardisDolivier">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Distribution Tool</title>
  <link rel="stylesheet" href="lib/foundation-5.3.1/css/foundation.min.css" />
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>

<div class="row">
  <div class="medium-12 columns">

    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#"><img src="http://placehold.it/200x75&text=les-mardis-d-olivier" /> Les mardis d'Olivier</a></h1>
        </li>
      </ul>
    </nav>

    <div class="row">
      <div class="medium-12 columns">&nbsp;</div>
    </div>

    <div ng-controller="contentCtrl">

      <div ng-show="distributionStarted">
        <div class="row">
          <div class="medium-4 columns">
            <button href="#" ng-click="leftCurrentDistribution()" class="button secondary expanded">Revenir à la liste des distributions</button>
          </div>
        </div>
        <form name="addBeneficiaireForm">
          <div class="row" ng-hide="readOnly">
            <div class="medium-9 columns">
              <label>Nouveau bénéficiaire</label>
              <div class="row">
                <div class="medium-4 columns">
                  <input type="text" ng-model="code" placeholder="-- code --" />
                </div>
                <div class="medium-4 columns">
                  <input type="text" ng-model="lastName" required placeholder="-- nom --" />
                </div>
                <div class="medium-4 columns">
                  <input type="text" ng-model="firstName" required placeholder="-- prénom --"/>
                </div>
              </div>
            </div>
            <div class="medium-3 columns right">
              <button ng-click="addBeneficiaire(firstName, lastName, code)" class="button secondary expand">Ajouter un bénéficiaire</button>
            </div>
          </div>
        </form>

        <div class="row">
          <h3 class="medium-12 columns">Distribution du {{currentDistribution.distributionDateLabel}} </h3>
        </div>

        <div class="row">
          <div class="medium-12 columns">
            <table class="table">
              <thead>
                <tr>
                  <td>Code</td>
                  <td>Nom</td>
                  <td>Prénom</td>
                  <td>Présent</td>
                </tr>
                <tr>
                  <td colspan="4"><input type="text" ng-model="searchBeneficiaire" placeholder="42, Georges, Henriette, etc."></input></td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="user in beneficiaires | filter:searchBeneficiaire">
                  <td>{{user.code}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.firstName}}</td>
                  <td><input class="form-control" type="checkbox" ng-model="user.isPresent" ng-change="isPresent(user.id)" ng-disabled="readOnly" /></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div ng-hide="distributionStarted">
        <form name="addDistributionForm">
          <div class="row">
            <div class="medium-9 columns">
              <label>Date</label>
              <div class="row">
                <div class="medium-4 columns">
                  <select ng-model="currentDistribution.distributionDateDayNumber" ng-options="day for day in  dayNumbers" required>
                    <option value="">-- jour --</option>
                  </select>
                </div>
                <div class="medium-4 columns">
                  <select ng-model="currentDistribution.distributionDateMonthLabel" ng-options="month for month in  monthLabels" required>
                    <option value="">-- mois --</option>
                  </select>
                </div>
                <div class="medium-4 columns">
                  <input type="text" ng-model="currentDistribution.distributionDateYear" placeholder="-- année --" required />
                </div>
              </div>
            </div>
            <div class="medium-3 columns">
              <label>
                Repas prévus
              <input type="text" ng-model="currentDistribution.distributionNbPlannedMeals" required />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="medium-4 columns right">
              <button ng-click="startNewDistribution()" class="button secondary expand">Commencer la distribution</button>
            </div>
          </div>
        </form>

        <div class="row">
          <h3 class="medium-12 columns">Distributions</h3>
        </div>

        <div class="row">
          <div class="medium-12 columns">
            <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Repas prévus</th>
                  <th>Repas servis</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              <tr ng-repeat="distribution in distributions">
                <td>{{distribution.distributionDateLabel}}</td>
                <td>{{distribution.nbPlannedMeals}}</td>
                <td>{{distribution.nbServedMeals}}</td>
                <td>
                  <button class="tiny button secondary expand" ng-click="loadDistribution(distribution.id, false)" ng-hide="!$first">Modifier</button>
                  <button class="tiny button secondary expand" ng-click="loadDistribution(distribution.id, true)" ng-hide="$first">Afficher</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="lib/foundation-5.3.1/js/vendor/modernizr.js"></script>
<script src="lib/angular-1.2.21/angular.min.js"></script>
<script src="js/main.js"></script>
<script src="lib/foundation-5.3.1/js/vendor/jquery.js"></script>
<script src="lib/foundation-5.3.1/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>
