select {
  background-color: white;
}

.name img {
  max-height: 41px;
  vertical-align: top;
}

@media only screen and (min-width: 40em) {
  .top-bar {
    height: 95px;
  }

  .top-bar-section li a {
    line-height: 95px !important;
  }

  .name img {
    margin-top: 10px !important;
    max-height: 75px;
    max-width: 200px;
  }
}

.table {
  width: 100%;
}

table input {
  margin-bottom: 0px !important;
}

#commentsToggle {
  position: relative;
  top: 0px;
  left: 0px;
}

#commentsDetail {
  display: none;
  top: -10px;
  left: 15px;
  padding-top: 0px;
  vertical-align: middle;
  text-align: left;
  width: 400px;
  background-color: #ccc;
  color: black;
  border-radius: 5px;
  position: absolute;
}

#commentsDetail td {
  width: 400px;
  list-style-type: none;
}

#commentsToggle:hover #commentsDetail {
  display: inline-block;
}

.button.secondary.redButton {
  background-color: red;
  color: white;
}

.button.secondary.redButton:hover {
  background-color: darkred;
}

.editor {
  max-height: 500px;
  height: 500px;
  background-color: white;
  border-collapse: separate;
  border: 1px solid rgb(204, 204, 204);
  padding: 4px;
  box-sizing: content-box;
  overflow: scroll;
  outline: none;
  resize: none;
}

.clickable {
  cursor: pointer;
}

#currentBeneficiaireDescription {
  height: 88px;
}

i.ui-icon {
  float: left;
  margin-right: .5em;
}

input[type="checkbox"].hasCard {
  width: 100%;
  height: 1em;
  margin-top: 0.9em;
}

table tr.added {
  background-color: darkseagreen;
}

input[type="checkbox"] + label {
  margin-right: 0.1em;
}

.errorMessageBar {
  list-style: none;
  margin: 0;
  background-color: red;
  color: white;
}

.errorMessage {
  text-align: center;
  line-height: 2em;
  list-style: none;
  border-bottom: 1px solid #333;
  height: 2.0em;
}

.errorMessage:hover {
  background-color: darkred;
}

.errorMessage.ng-move,
.errorMessage.ng-enter,
.errorMessage.ng-leave {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.errorMessage.ng-leave.ng-leave-active,
.errorMessage.ng-move,
.errorMessage.ng-enter {
  background-color: darkred;
  max-height: 0;
}

.errorMessage.ng-leave,
.errorMessage.ng-move.ng-move-active,
.errorMessage.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 3em;
}

.menu {
  height: 130px;
}
