<h3><b>Profil</b></h3>
<form name="updateBeneficiaireForm">
  <div class="row">
    <div class="medium-2 columns">
      <label>Code
        <input type="number" name="code" ng-model="currentBeneficiaire.codeNumber" ng-required="true" readonly/>
      </label>
    </div>
    <div class="medium-5 columns">
      <label>Nom
        <input type="text" name="lastName" ng-model="currentBeneficiaire.lastName" ng-required="true"/>
      </label>
    </div>
    <div class="medium-5 columns">
      <label>Prénom
        <input type="text" name="firstName" ng-model="currentBeneficiaire.firstName" ng-required="true"/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="medium-9 columns">
      <label>Description
        <textarea name="description" placeholder="-- insérer une description --"
                  ng-model="currentBeneficiaire.description" ng-required="false"></textarea>
      </label>
    </div>
    <div class="medium-3 columns">
      <label>Nombre de présences
        <input type="text" disabled="disabled" ng-model="currentBeneficiaire.visiteNumber"/>
      </label>
    </div>
    <div class="medium-3 columns">
      <input type="checkbox" id="excluded" ng-model="currentBeneficiaire.excluded" ng-required="false">
        <label for="excluded">Exclus</label>
      </input>
    </div>
  </div>
  <div class="row">
    <div class="medium-3 columns right">
      <button id="saveBeneficiaireDetail" ng-click="saveBeneficiaireDetail()" class="button secondary expand">
        Enregistrer
      </button>
    </div>
    <div class="medium-3 columns right">
      <button id="cancelBeneficiaireDetail" ng-click="cancelBeneficiaireDetail()" class="button secondary expand">
        Annuler
      </button>
    </div>
    <div class="medium-3 columns right">
      <button id="deleteBeneficiaireDetail" ng-click="deleteBeneficiaireDetail()" class="button secondary expand">
        Supprimer
      </button>
    </div>
  </div>
  <p class="errorMessage" ng-show="currentError.isCodeNotUnique">Un bénéficiaire existe déjà avec ce code</p>

  <p class="errorMessage" ng-show="currentError.isBeneficiaireNotUnique">Le bénéficiaire existe déjà</p>
</form>

<div id="confirmDeletePopup" class="reveal-modal small" data-reveal>
  <p>Êtes-vous sûr de vouloir supprimer ce bénéficiaire ?</p>
  <div>
    <button ng-click="cancelBeneficiaireDetailDeletePopup()" class="button secondary expand">Annuler</button>
  </div>
  <div>
    <button id="confirmDelete" ng-click="confirmBeneficiaireDetailDeletePopup()" class="button secondary expand">
      Supprimer
    </button>
  </div>
</div>

<h3><b>Commentaires</b></h3>
<div ng-show="currentBeneficiaire.comments.length != 0">
  <div class="row">
    <table class="medium-12 columns">
      <thead>
      <tr>
        <td>Commentaire</td>
        <td>Favoris</td>
      </tr>
      </thead>
      <tr ng-repeat="comment in currentBeneficiaire.comments track by $index">
        <td>{{comment.text}}</td>
        <td><input type="checkbox" ng-model="comment.isBookmark" ng-change="isBookmark(comment)"/></td>
      </tr>
    </table>
  </div>
</div>
<div ng-show="currentBeneficiaire.comments.length == 0">
  Aucun commentaire pour ce bénéficiaire.
</div>
