<div class="row">
  <h4 class="medium-12 columns">Nouveau bénéficiaire</h4>
</div>
<form name="addBeneficiaireForm" ng-submit="addBeneficiaireFromList()">
  <div class="row">
    <div class="medium-12 columns">
      <div class="row">
        <div class="medium-2 columns">
          <label>
            <i class="ui-icon ui-icon-tag"></i> Code
            <input type="text" min="1" id="code" name="code" ng-model="currentBeneficiaire.code"
                 placeholder="-- code --" ng-required="true" readonly/>
          </label>
        </div>
        <div class="medium-4 columns">
          <label>
            Nom
            <input type="text" name="lastName" ng-model="currentBeneficiaire.lastName" placeholder="-- nom --"
               ng-required="true"/>
          </label>
        </div>
        <div class="medium-4 columns">
          <label>
            Prénom
            <input type="text" name="firstName" ng-model="currentBeneficiaire.firstName" placeholder="-- prénom --"
                 ng-required="true"/>
          </label>
        </div>
        <div class="medium-2 columns">
          <label>
            <i class="ui-icon ui-icon-contact"></i>Sans carte
            <input type="checkbox" class="hasCard" id="hasCard" name="hasCard" ng-model="currentBeneficiaire.hasCard" ng-true-value="false" ng-false-value="true" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="medium-4 columns right">
          <button class="button secondary expand">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
  <p class="errorMessage" ng-show="currentError.isCodeNotUnique">Un bénéficiaire existe déjà avec ce code</p>

  <p class="errorMessage" ng-show="currentError.isBeneficiaireNotUnique">Le bénéficiaire existe déjà</p>
</form>
<div class="medium-12 columns">
  <div class="medium-3 columns">
<input type="checkbox" id="hasCardFilter" ng-model="hasCardFilter"><label for="hasCardFilter"><i class="ui-icon ui-icon-contact"></i> Sans carte</label></input>
  </div>
  <div class="medium-3 columns left">
  <input type="checkbox" id="excludedFilter" ng-model="excludedFilter"><label for="excludedFilter"><i class="ui-icon ui-icon-circle-minus"/></i> Exclus</label></input>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <table class="table">
      <thead>
      <tr>
        <td><i class="ui-icon ui-icon-tag"></i> Code</td>
        <td>Nom</td>
        <td>Prénom</td>
        <td><i class="ui-icon ui-icon-contact"></i> Carte</td>
        <td><i class="ui-icon ui-icon-circle-minus"></i> Exclus</td>
      </tr>
      <tr>
        <td colspan="5"><input type="text" ng-model="searchText" placeholder="42, Georges, Henriette, etc."></td>
      </tr>
      </thead>
      <tbody>
      <tr ng-show="beneficiaires.length==0">
        <td colspan="3">Aucun beneficiaire.</td>
      </tr>
      <tr class="clickable" ng-repeat="user in beneficiaires | filter:searchBeneficiaire | filter:searchExcluded | filter:searchHasCard" ng-click="openBeneficiaireDetail(user._id)">
        <td>{{user.code}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.firstName}}</td>
        <td><i ng-class=" user.hasCard !== false ? 'ui-icon ui-icon-contact' : '' "></i></td>
        <td><i ng-class=" user.excluded ? 'ui-icon ui-icon-circle-minus' : '' "></i></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
