<form name="addBeneficiaireForm">
  <div class="row" ng-hide="readOnly">
    <div class="medium-12 columns">
      <label>Nouveau bénéficiaire</label>

      <div class="row">
        <div class="medium-3 columns">
          <input type="number" min="1" id="code" name="code" ng-model="currentBeneficiaire.code"
                 placeholder="-- code --" ng-required="true" readonly/>
        </div>
        <div class="medium-3 columns">
          <input type="text" name="lastName" ng-model="currentBeneficiaire.lastName" placeholder="-- nom --"
                 ng-required="true"/>
        </div>
        <div class="medium-3 columns">
          <input type="text" name="firstName" ng-model="currentBeneficiaire.firstName" placeholder="-- prénom --"
                 ng-required="true"/>
        </div>
        <div class="medium-3 columns right">
          <button ng-click="addBeneficiaireFromList()" class="button secondary expand">Ajouter un bénéficiaire
          </button>
        </div>
      </div>
    </div>
  </div>
  <p class="errorMessage" ng-show="currentError.isCodeNotUnique">Un bénéficiaire existe déjà avec ce code</p>

  <p class="errorMessage" ng-show="currentError.isBeneficiaireNotUnique">Le bénéficiaire existe déjà</p>
</form>
<input type="checkbox" id="excludedFilter" ng-model="excludedFilter"><label for="excludedFilter">Exclus</label></<input>
<input type="checkbox" id="hasCardFilter" ng-model="hasCardFilter"><label for="hasCardFilter">Sans carte</label></<input>
<div class="row">
  <div class="medium-12 columns">
    <table class="table">
      <thead>
      <tr>
        <td>Code</td>
        <td>Nom</td>
        <td>Prénom</td>
        <td>Carte</td>
        <td>Exclue</td>
      </tr>
      <tr>
        <td colspan="5"><input type="text" ng-model="searchText" placeholder="42, Georges, Henriette, etc."></td>
      </tr>
      </thead>
      <tbody>
      <tr class="clickable" ng-repeat="user in beneficiaires | filter:searchBeneficiaire | filter:searchExcluded | filter:searchHasCard" ng-click="openBeneficiaireDetail(user.id)">
        <td>{{user.code}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.firstName}}</td>
        <td>{{hasUserCardLabel(user.hasCard)}}</td>
        <td>{{isUserExludedLabel(user.excluded)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
