<h4>Gestion des responsables activités</h4>
<select ng-options="activity for activity in activities" ng-model="currentActivity" ng-change="updateActivityContent()">
<!--<option value="">Selectionnez une activité</option>-->
</select>
<div ng-if="currentActivity !== undefined">
<div class="row">
  <div class="medium-6 columns">
    <label>Responsable</label>
  </div>
</div>
<div class="row" ng-if="addMode===false">
  <div class="medium-6 columns">
    <table class="table">
      <thead>
      <tr>
        <td>Nom</td>
        <td>Prénom</td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      <tr ng-show="members.length==0">
        <td colspan="3">Aucun responsable.</td>
      </tr>
      <tr class="clickable" ng-repeat="member in members">
        <td ng-click="openBeneficiaireDetail(member._id)">{{member.lastName}}</td>
        <td ng-click="openBeneficiaireDetail(member._id)">{{member.firstName}}</td>
        <td><i class="ui-icon ui-icon-circle-minus" ng-click="removeMember(member)"></i></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="medium-6 columns">
    <button ng-click="goToAddMode()">Ajouter</button>
  </div>
</div>
<div class="row" ng-if="addMode===true">
  <div class="medium-6 columns">
    <table class="table">
      <thead>
      <tr>
        <td>Nom</td>
        <td>Prénom</td>
      </tr>
      </thead>
      <tbody>
      <tr ng-show="benevoles.length==0">
        <td colspan="3">Aucun bénévole.</td>
      </tr>
      <tr>
        <td colspan="5"><input type="text" ng-model="searchText" placeholder="42, Georges, Henriette, etc."></td>
      </tr>
      <tr class="clickable" ng-repeat="benevole in benevolesWithoutMembers | filter:searchBeneficiaire" ng-click="addMember(benevole)">
        <td>{{benevole.lastName}}</td>
        <td>{{benevole.firstName}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="medium-6 columns">
    <button ng-click="cancelAddMode()">Annuler</button>
  </div>
  <div class="medium-6 columns">
    <p>Veuillez selectionner un bénévole</p>
  </div>
</div>
</div>
