<h4>{{ 'view.activityAdmin.name' | translate }}</h4>
<select ng-options="activity.name for activity in activities" ng-model="currentActivity" ng-change="updateActivityContent()">
</select>
<div ng-if="currentActivity !== undefined">
<div class="row" ng-if="addMode===false">
  <div class="medium-6 columns">
    <table class="table">
      <thead>
      <tr>
        <td>{{ 'lastname' | translate }}</td>
        <td>{{ 'firstname' | translate }}</td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      <tr ng-show="members.length==0">
        <td colspan="3">{{ 'no.responsables' | translate }}</td>
      </tr>
      <tr class="clickable" ng-repeat="member in members">
        <td ng-click="openBeneficiaireDetail(member._id)">{{member.lastName}}</td>
        <td ng-click="openBeneficiaireDetail(member._id)">{{member.firstName}}</td>
        <td><i class="ui-icon ui-icon-circle-minus" ng-click="removeMember(member)"></i></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="medium-6 columns">
    <button ng-click="goToAddMode()">{{ 'add' | translate }}</button>
  </div>
</div>
<div class="row" ng-if="addMode===true">
  <div class="medium-6 columns">
    <table class="table">
      <thead>
      <tr>
        <td>{{ 'lastname' | translate }}</td>
        <td>{{ 'firstname' | translate }}</td>
      </tr>
      </thead>
      <tbody>
      <tr ng-show="benevoles.length==0">
        <td colspan="3">{{ 'no.benevoles' | translate }}</td>
      </tr>
      <tr>
        <td colspan="5"><input type="text" ng-model="searchText" placeholder="{{ 'placeholder.list' | translate }}"></td>
      </tr>
      <tr class="clickable" ng-repeat="benevole in benevolesWithoutMembers | filter:searchBeneficiaire" ng-click="addMember(benevole)">
        <td>{{benevole.lastName}}</td>
        <td>{{benevole.firstName}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="medium-6 columns">
    <button ng-click="cancelAddMode()">{{ 'cancel' | translate }}</button>
  </div>
  <div class="medium-6 columns">
    <p>{{ 'activity.select.benevole' | translate }}</p>
  </div>
</div>
</div>
