<div class="row">
  <h4 class="medium-12 columns">Nouvelle distribution</h4>
</div>
<form name="addDistributionForm" ng-submit="startNewDistribution()">
    <div class="row">
      <div class="medium-9 columns">
        <label>
          <i class="ui-icon ui-icon-calendar"></i> Date
          <input type="text" ui-date="dateOptions" ui-date-format="yy-mm-dd"
                 ng-model="currentDistribution.distributionDate" ng-required="true"/>
        </label>
      </div>
      <div class="medium-3 columns">
        <label>
          <i class="ui-icon ui-icon-cart"></i> Repas prévus
          <input type="number" ng-model="currentDistribution.distributionNbPlannedMeals" ng-required="true"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="medium-4 columns right">
        <button class="button secondary expand">Commencer</button>
      </div>
    </div>
  </form>

  <div class="row">
    <h3 class="medium-12 columns">Distributions</h3>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <table class="table">
        <thead>
        <tr>
          <th><i class="ui-icon ui-icon-calendar"></i> Date</th>
          <th><i class="ui-icon ui-icon-cart"></i>Repas prévus</th>
          <th><i class="ui-icon ui-icon-person"></i> Bénéficiaires présents</th>
          <th><i class="ui-icon ui-icon-comment"></i> Commentaires</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-show="distributions.length==0">
          <td colspan="3">Aucune distribution.</td>
        </tr>
        <tr class="clickable" ng-repeat="distribution in distributions"
            ng-click="loadDistribution(distribution._id)" title="Modifier">
          <td>{{distribution.distributionDate | DateWithJQueryUiDatePicker}}</td>
          <td>{{distribution.nbPlannedMeals}}</td>
          <td>{{distribution.nbBeneficiaires}}</td>
          <td>{{distribution.comments.length}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
