<form name="addDistributionForm">
    <div class="row">
      <div class="medium-9 columns">
        <label>
          Date
          <input type="text" ui-date="dateOptions" ui-date-format="yy-mm-dd"
                 ng-model="currentDistribution.distributionDate" ng-required="true"/>
        </label>
      </div>
      <div class="medium-3 columns">
        <label>
          Repas prévus
          <input type="text" ng-model="currentDistribution.distributionNbPlannedMeals" ng-required="true"/>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="medium-4 columns right">
        <button ng-click="startNewDistribution()" class="button secondary expand">Commencer la distribution</button>
      </div>
    </div>
  </form>

  <div class="row">
    <h3 class="medium-12 columns">Distributions</h3>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <table class="table">
        <thead>
        <tr>
          <th>Date</th>
          <th>Repas prévus</th>
          <th>Bénéficiaires présents</th>
          <th>Commentaires</th>
        </tr>
        </thead>
        <tbody>
        <tr class="clickable" ng-repeat="distribution in distributions"
            ng-click="loadDistribution(distribution.id)" title="Modifier">
          <td>{{distribution.distributionDate | DateWithJQueryUiDatePicker}}</td>
          <td>{{distribution.nbPlannedMeals}}</td>
          <td>{{distribution.nbBeneficiaires}}</td>
          <td>{{distribution.comments.length}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
