  <div class="row">
    <h3 class="medium-12 columns">Distribution du {{currentDistribution.distributionDate | DateWithJQueryUiDatePicker}}
      ({{numberBeneficiairesPresent}} bénéficiaires présents)</h3>
  </div>
  <div class="row">
    <div class="medium-9 columns">
      <textarea name="description" placeholder="-- insérer un commentaire global --" ng-model="currentDistribution.comment" ng-change="writeDistributionComment(currentDistribution.comment)" ng-model-options="{debounce:1000}" ></textarea>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <table class="table">
        <thead>
        <tr>
          <td>Code</td>
          <td>Nom</td>
          <td>Prénom</td>
          <td>Présent</td>
          <td colspan="2">Commentaire</td>
        </tr>
        <tr>
          <td colspan="6"><input type="text" ng-model="searchText" placeholder="42, Georges, Henriette, etc."/></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in beneficiaires | filter:searchBeneficiaire">
          <td>{{user.code}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.firstName}}</td>
          <td>
            <input type="checkbox" ng-model="user.isPresent" ng-change="isPresent(user)" ng-disabled="readOnly"/>
          </td>
          <td ng-hide="readOnly">
            <a id="commentsToggle" ng-show="user.comments.length > 0"><span class="ui-icon ui-icon-alert"></span>
              <table id="commentsDetail">
                <tr ng-repeat="comments in user.comments track by $index"><td>{{comments.text}}</td>
                </tr>
              </table>
            </a>
          </td>
          <td>
            <input type="text" ng-model="user.comment" ng-change="writeComment(user.id, user.comment)" ng-model-options="{debounce:1000}"
                   ng-disabled="readOnly || !user.isPresent"/>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
