  <div class="row">
    <h3 class="medium-12 columns">Distribution du {{distributionDetail.currentDistribution.distributionDate | DateWithJQueryUiDatePicker}}
      ({{distributionDetail.numberBeneficiairesPresent}} bénéficiaires présents)</h3>
  </div>
  <div class="row">
    <div class="medium-9 columns">
      <textarea name="description" placeholder="-- insérer un commentaire global --"
                ng-model="distributionDetail.currentDistribution.comment"
                ng-change="distributionDetail.writeDistributionComment(distributionDetail.currentDistribution.comment)"
                ng-model-options="{debounce:1000}" ></textarea>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <table class="table">
        <thead>
        <tr>
          <td><i class="ui-icon ui-icon-tag"></i> Code</td>
          <td>Nom</td>
          <td>Prénom</td>
          <td><i class="ui-icon ui-icon-circle-minus"></i> Exclue</td>
          <td><i class="ui-icon ui-icon-flag"></i> Présent</td>
          <td colspan="2"><i class="ui-icon ui-icon-comment"></i> Commentaire</td>
        </tr>
        <tr>
          <td colspan="7"><input type="text" ng-model="distributionDetail.searchText" placeholder="42, Georges, Henriette, etc."/></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in distributionDetail.beneficiaires | filter:distributionDetail.searchBeneficiaire">
          <td>{{user.code}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.firstName}}</td>
          <td><i ng-class=" user.excluded ? 'ui-icon ui-icon-circle-minus' : '' "></i></td>
          <td>
            <input type="checkbox" ng-model="user.isPresent" ng-change="distributionDetail.isPresent(user)"/>
          </td>
          <td>
            <a id="commentsToggle" ng-show="user.comments.length > 0"><span class="ui-icon ui-icon-alert"></span>
              <table id="commentsDetail">
                <tr ng-repeat="comments in user.comments track by $index"><td>{{comments.text}}</td>
                </tr>
              </table>
            </a>
          </td>
          <td>
            <input type="text" ng-model="user.comment" ng-change="distributionDetail.writeComment(user.id, user.comment)"
                   ng-model-options="{debounce:1000}" ng-disabled="!user.isPresent"/>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
