  <div class="row">
    <h3 class="medium-12 columns">Distribution du {{distributionDetail.currentDistribution.distributionDate | DateWithJQueryUiDatePicker}}
      ({{distributionDetail.numberBeneficiairesPresent}} bénéficiaires présents)</h3>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <textarea name="description" placeholder="-- insérer un commentaire global --"
                ng-model="distributionDetail.currentDistribution.comment"
                ng-change="distributionDetail.writeDistributionComment(distributionDetail.currentDistribution.comment)"
                ng-model-options="{debounce:1000}" ></textarea>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <table class="table">
        <thead>
        <tr>
          <td><i class="notRequired ui-icon ui-icon-tag"></i> Code</td>
          <td>Nom</td>
          <td>Prénom</td>
          <td class="notRequired iconAlone"><i class="ui-icon ui-icon-person" title="Description"></i></td>
          <td class="iconAlone"><i class="ui-icon ui-icon-circle-minus" title="Exclue"></i></td>
          <td><i class="notRequired ui-icon ui-icon-flag"></i> Présent</td>
          <td colspan="2"><i class="notRequired ui-icon ui-icon-comment"></i> Commentaire</td>
        </tr>
        <tr>
          <td colspan="8"><input type="text" ng-model="distributionDetail.searchText" placeholder="42, Georges, Henriette, etc."/></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in distributionDetail.beneficiaires | filter:distributionDetail.searchBeneficiaire">
          <td>{{user.code}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.firstName}}</td>
          <td class="notRequired">
          <section class="iconAlone" ng-show="user.description.length > 0">
            <div class="hoverPopup">
              <span class="ui-icon ui-icon-person"></span>
              <ul>
                <li>{{user.description}}</li>
              </ul>
            </div>
          </section>
          </td>
          <td><i ng-class=" user.excluded ? 'ui-icon ui-icon-circle-minus' : '' "></i></td>
          <td>
            <input type="checkbox" ng-model="user.isPresent" ng-change="distributionDetail.isPresent(user)"/>
          </td>
          <td class="notRequired iconAlone">
            <section ng-show="user.comments.length > 0">
              <div class="hoverPopup">
                <span class="ui-icon ui-icon-alert"></span>
                <ul>
                  <li ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="comments in user.comments track by $index">{{comments.text}}</li>
                </ul>
              </div>
            </section>
          </td>
          <td>
            <input type="text" ng-model="user.comment" ng-change="distributionDetail.writeComment(user._id, user.comment)"
                   ng-model-options="{debounce:1000}" ng-disabled="!user.isPresent"/>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
