<div class="row">
  <div class="medium-12 columns">

    <button
      class="button secondary medium-2 columns calendar-nav-button"
      mwl-date-modifier
      date="calendarDay"
      set-to-today ng-click="updateCurrentMonth()">
      {{ currentMonthDisplayed }}
    </button>

    <button
      class="button secondary"
      mwl-date-modifier
      date="calendarDay"
      decrement="calendarView" ng-click="updateCurrentMonth()">
      <
    </button>

    <button
      class="button secondary calendar-nav-button"
      mwl-date-modifier
      date="calendarDay"
      increment="calendarView" ng-click="updateCurrentMonth()">
      >
    </button>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <mwl-calendar
        view="calendarView"
        current-day="calendarDay"
        events="events">
      </mwl-calendar>
  </div>
</div>
