<div ng-show="showCalendar === true">
  <div class="row" xmlns="http://www.w3.org/1999/html">
    <select class="bigSelect" ng-options="activity.name for activity in activities" ng-model="currentActivity"
            ng-change="updateCalendarContent()">
    </select>
  </div>

  <div class="row">
    <div class="medium-12 columns">
      <button
        class="button secondary medium-2 columns calendar-nav-button"
        mwl-date-modifier
        date="calendarDay"
        set-to-today ng-click="updateCurrentMonth()">
        {{ currentMonthDisplayed }}
      </button>

      <button
        class="button secondary"
        mwl-date-modifier
        date="calendarDay"
        decrement="calendarView" ng-click="updateCurrentMonth()">
        <
      </button>

      <button
        class="button secondary calendar-nav-button"
        mwl-date-modifier
        date="calendarDay"
        increment="calendarView" ng-click="updateCurrentMonth()">
        >
      </button>

      <button class="button secondary" ng-click="showAddEventPopup()">
        {{ 'calendar.addEvent' | translate }}
      </button>

    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <mwl-calendar
        view="calendarView"
        current-day="calendarDay"
        events="events"
        on-drill-down-click="showAddEventPopup(calendarDate)"
        on-event-click="openDetailEvent(calendarEvent)">
      </mwl-calendar>
    </div>
  </div>

  <div id="newEventPopup" class="reveal-modal medium" data-reveal>
    <form name="newEventForm">
      <div class="medium-12 columns">

        <div class="row">
          <h4 class="medium-12 columns">{{ 'calendar.addEvent' | translate }}</h4>
        </div>

        <br/>

        <div class="row">
          <div class="medium-6 columns">
            <input type="text" name="date" class="detail" ui-date="dateOptions" ui-date-format="yy-mm-dd"
                   ng-model="newEvent.date" placeholder="{{ 'placeholder.date' | translate }}"
                   ng-required="false"/>
          </div>
        </div>

        <div class="row">
          <div class="medium-3 columns">
            <input type="number" type="number" min="0" max="23" name="hour" class="detail"
                   ng-model="newEvent.hour" placeholder="{{ 'placeholder.hour' | translate }}"
                   ng-required="true"/>
          </div>
          <div class="medium-3 columns left">
            <input type="number" min="0" max="59" name="minute" class="detail"
                   ng-model="newEvent.minute" placeholder="{{ 'placeholder.minute' | translate }}"
                   ng-required="true"/>
          </div>
        </div>

        <div class="row">
          <div class="medium-6 columns">
            <select class="" ng-options="activity.name for activity in eventTypes" ng-model="newEvent.activityToProcess"
                    ng-required="true">
              <option value="">{{ 'calendar.selectType' | translate }}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="medium-6 columns">
            <input type="text" name="lastName" class="detail" ng-model="newEvent.name"
                   placeholder="{{ 'placeholder.name' | translate }}"
                   ng-required="true"/>
          </div>
        </div>

        <div class="row">
          <div class="medium-12 columns">
            <textarea name="description" class="editor newEventDescription detail" ng-model="newEvent.description"
                      placeholder="{{ 'placeholder.description' | translate }}"
                      ng-required="false"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="medium-6 columns">
            <input type="checkbox" id="joinAfterCreation" ng-model="newEvent.joinAfterCreation">
            <label for="joinAfterCreation">{{ 'calendar.join' | translate }}</label>
            </input>
          </div>
        </div>

        <div class="row">
          <div class="medium-6 columns">
            <button id="newEventCancel" ng-click="newEventCancel()" class="button secondary expand">
              {{ 'cancel' | translate }}
            </button>
          </div>
          <div class="medium-6 columns">
            <button id="newEventAdd" ng-click="newEventAdd()" ng-disabled="newEventForm.$invalid"
                    class="button secondary expand">
              {{ 'add' | translate }}
            </button>
          </div>
        </div>

      </div>
    </form>
  </div>

  <div id="detailEventPopup" class="reveal-modal medium" data-reveal>
    <form name="detailEventForm">
      <div class="medium-12 columns">
        <div class="row">
          <div class="medium-6 columns">
            <label>{{ 'date' | translate }}
              <input type="text" name="date" class="detail" ui-date="dateOptions" ui-date-format="yy-mm-dd"
                     ng-model="currentDetailEvent.date" placeholder="{{ 'placeholder.date' | translate }}"
                     ng-required="true"/>
           </label>
        </div>
      </div>
        <br />
        <div class="row">
          <div class="medium-3 columns">
            <label>{{ 'hours' | translate }}
            <input type="number" type="number" min="0" max="23" name="hour" class="detail"
                   ng-model="currentDetailEvent.hour" placeholder="{{ 'placeholder.hour' | translate }}"
                   ng-required="true"/>
            </label>
          </div>
          <div class="medium-3 columns left">
            <label>{{ 'minutes' | translate }}
            <input type="number" min="0" max="59" name="minute" class="detail"
                   ng-model="currentDetailEvent.minute" placeholder="{{ 'placeholder.minute' | translate }}"
                   ng-required="true"/>
            </label>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="medium-6 columns">
            <label>Type
              <input type="text" ng-model="currentDetailEvent.activityDisplay" ng-disabled="true" />
            </label>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="medium-6 columns">
            <label>Nom
              <input type="text" ng-model="currentDetailEvent.name" ng-required="true" />
            </label>
          </div>
        </div>
        <br />
        <div class="row">
          <label>{{ 'description' | translate }}
            <textarea class="medium-12 columns">{{currentDetailEvent.description}}</textarea>
          </label>
        </div>
        <br />
        <div class="row">
          <div class="medium-6 columns">
            <input type="checkbox" id="join" ng-model="currentDetailEvent.join" ng-change="joinEvent()">
            <label for="join">{{ 'calendar.join' | translate }}</label>
            </input>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="medium-4 columns">
            <button id="detailEventClose" ng-click="detailEventClose()" class="button secondary expand">
              {{ 'close' | translate }}
            </button>
          </div>
          <div class="medium-4 columns">
            <popup-directive popup-button="deletePopupButtons" popup-label="{{ 'calendar.deleteConfirmation' | translate }}" button-label="Supprimer" ></popup-directive>
          </div>
          <div class="medium-4 columns">
            <button id="detailEventSave" ng-click="detailEventSave()" ng-disabled="detailEventPopup.$invalid"
                    class="button secondary expand">
              {{ 'save' | translate }}
            </button>
          </div>
        </div>
        <br />
        <div class="row">
          <table class="table">
            <thead>
            <tr>
              <td>{{ 'members' | translate }}</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-show="currentDetailEvent.membersDisplay.length==0">
              <td colspan="3">{{ 'calendar.noMembersInEvent' | translate }}</td>
            </tr>
            <tr class="clickable" ng-click="openBenevoleDetail(member.id)" ng-repeat="member in currentDetailEvent.membersDisplay">
              <td>{{member.name}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>
